<div class="professeur-container">
  <div fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button color="primary" routerLink="/create-professeur">
      <mat-icon>add</mat-icon>
      Nouveau Professeur
    </button>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- ID Column -->
<ng-container matColumnDef="id">
  <th mat-header-cell *matHeaderCellDef> ID </th>
  <td mat-cell *matCellDef="let professeur"> {{ professeur.id }} </td>
</ng-container>

    <!-- Nom Column -->
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef> Nom </th>
      <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
    </ng-container>

    <!-- Prénom Column -->
    <ng-container matColumnDef="prenom">
      <th mat-header-cell *matHeaderCellDef> Prénom </th>
      <td mat-cell *matCellDef="let element"> {{element.prenom}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Spécialité Column -->
    <ng-container matColumnDef="specialite">
      <th mat-header-cell *matHeaderCellDef> Spécialité </th>
      <td mat-cell *matCellDef="let element"> {{element.specialite}} </td>
    </ng-container>

    <!-- Téléphone Column -->
    <ng-container matColumnDef="telephone">
      <th mat-header-cell *matHeaderCellDef> Téléphone </th>
      <td mat-cell *matCellDef="let element"> {{element.telephone}} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [routerLink]="['/edit-professeur', element.id]">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteProfesseur(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
